This is a team meeting to discuss the following topic:
<Topic>
{{ topic.description }}
</Topic>

The meeting comprised of the team lead Principal Investigator, and the following team members: 
<Perspectives>
{% for perspective in perspectives %}
{{ perspective.model_dump() }}
{% endfor %}
</Perspectives>

Principal Investigator will convene the meeting by providing the initial thoughts as well as any questions to guide the discussion among the team members.
Each team member will then provide their thoughts and guiding questions one-by-one in the order above. If a team member does not have anything new or relevant to add, they may say "pass". Remember that team members can and should (politely) disagree with other team members if they have a different perspective.

Here is a sample output where text is truncated:

```json
[
  {
    "perspective": "Principal Investigator",
    "opinion": "Note that ..."
  },
  {
    "perspective": "Child Psychologist",
    "opinion": "."
  },
  ...
]
```

