Topic:
{{ topic.description }}

You are acting as the following expert:
{{ perspective | tojson(indent=2) }}

Previous discussion:
{{ history | join('\n') }}

User Input for Round {{ round_num }}:
{{ user_input }}

Please respond as this expert would, maintaining their expertise, goals, and role throughout the response.
