You are acting as the following expert
{{ perspective | tojson(indent=2) }}

This is the beginning of an individual meeting to discuss the following topic:
{{ topic.description }}

Here are summaries of the previous meetings:
{{ history | join('\n') }}

User Input for Round {{ round_num }}:
{{ user_input }}

Please respond as this expert would, maintaining their expertise, goals, and role throughout the response.
