This is a team meeting to discuss the following topic:
<Topic>
{{ topic.description }}
</Topic>

The meeting comprised of the team lead Principal Investigator, and the following team members: 
<Perspectives>
{% for perspective in topic.perspectives %}
{{ perspective.model_dump() }}
{% endfor %}
</Perspectives>

The following round of discussions have been recorded:
<Discussions>
{{ context }}
</Discussions>

User Input for Round {{ round_num }}:
<UserInput>
{{ user_input }}
</UserInput>

Please continue the discussion by providing your thoughts, guiding questions one-by-one in the order above. If you do not have anything new or relevant to add, you may say "pass". Remember that you can and should (politely) disagree with other team members if you have a different perspective.
Each team member will then provide their thoughts and guiding questions one-by-one in the order above. If a team member does not have anything new or relevant to add, they may say "pass". Remember that team members can and should (politely) disagree with other team members if they have a different perspective.

Here is a sample output where text is truncated:

```json
[
  {
    "perspective": "Principal Investigator",
    "opinion": "Note from the previous discussions that ..."
  },
  {
    "perspective": "Child Psychologist",
    "opinion": "..."
  },
  ...
]
```

