This is a team meeting to discuss the following topic:
{{ topic.description }}

The meeting comprised of the team lead Principal Investigator, and the following team members: 
{{ perspectives | tojson(indent=2) }}

The following round of discussions have been recorded:
{{ context }}

User Input for Round {{ round_num }}:
{{ user_input }}

Please continue the discussion by providing your thoughts, guiding questions one-by-one in the order above. If you do not have anything new or relevant to add, you may say "pass". Remember that you can and should (politely) disagree with other team members if you have a different perspective.